.button {
    border: 1px solid black;
    display: inline-block;
    line-height: inherit;
    padding: 0 0.6em;
    cursor: pointer;
}

.button:disabled,
.button--disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.button--small {
    font-size: 80%;
}

.button--medium {
    font-size: 100%;
}

.button--large {
    font-size: 120%;
}

.button--danger {
    background-color: map(theme, colors, color1, bg);
    color: map(theme, colors, color1, fg);
}
.button--primary {
    background-color: map(theme, colors, color2, bg);
    color: map(theme, colors, color2, fg);
}
.button--secondary {
    background-color: map(theme, colors, color3, bg);
    color: map(theme, colors, color3, fg);
}
.button--warn {
    background-color: map(theme, colors, color4, bg);
    color: map(theme, colors, color4, fg);
}
.button--default {
    background-color: map(theme, colors, color5, bg);
    color: map(theme, colors, color5, fg);
}




